body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	color: white;
	cursor: none;
}

h1 {
	font-size: 2em;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1em;
}

#content {
	display: flex;
	flex-direction: row;
}

#toolbar {
	display: flex;
	flex-direction: column;
	flex: 0 0 10em;
	align-items: start;
	background-color: #202020;
	padding-left: 1em;
}

#toolbar label {
	font-size: 1em;
	margin-bottom: 0.5em;
}

#toolbar input, select {
	color: black;
	margin-bottom: 2em;
	padding: 0.2em;
	border-radius: 0.5em;
	width: 8em;
}

#toolbar button {
	background-color: #1565c0;
	border: none;
	border-radius: 0.5em;
	color: white;
	padding: 0.2em;
	width: 8em;
}

#drawing-area {
	margin-top: 1.5em;
}

#drawing-board {
	height: 50em;
	width: 100em;
	border: 2px solid black;
	border-radius: 0.5em;
	background-color: white;
	display: inline-block;
	box-shadow: 0.1em 0.1em 1.5em;
}

.dot {
	border: black 1px solid;
	border-radius: 50%;
	border-color:black;
	display: inline-block;
}

#cursor {
	position: absolute;
	pointer-events: none;
	top: 10px;
	left: 30px;
}

#colors {
	display: flex;
}

#color-green, #color-red, #color-orange {
	border-radius: 100%;
	width: 2em;
	height: 2em;
	margin: 0.3em;
}

#clear-button, #eraser-button, #save-button, #load-button {
	width: 2em;
	height: 2em;
}

#clear-button, #eraser-button, #save-button {
	width: 2em;
	height: 2em;
	margin-bottom: 0.5em;
}

#load-button {
	margin-bottom: 4em;
}

#clear-button {
	background-color: red !important;
}