h1 {
	text-align: center;
	font-size: 2em;
}

main {
	text-align: center;
}

#drawing-area {
	height: 50em;
	width: 100em;
	border: 2px solid black;
	border-radius: 0.5em;
	background-color: white;
	display: inline-block;
	box-shadow: 0.1em 0.1em 1.5em;
}